<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Sofia&display=swap" >
	<link rel="stylesheet" type="text/css" href="{{css_file}}">
	{% if title %}
		<title>DMdb Api - {{title}}</title>
	{% else %}
		<title>DMdb Api</title>
	{% endif %}	
</head>
<body>
	<main>
		<div class="parent">
				<div class="header">
					<span class="open-navbar">&#9776;</span>
					<div class="user-info">
						{% if current_user.is_authenticated %}
							{% if title %}
								<span style="word-wrap:break-word;"> Control Panel-{{title}}</span>
							{% else %}
						  		<span> Control Panel</span>
							{% endif %}	
			        	<span><span class="user-logged">Logged in as {{ current_user.username }}</span><a href="{{url_for('logout')}}">(Logout)</a></span>
						{% endif %}
					</div>
				</div>
				<div class="main">
					<div class="nav-bar-container">
						<nav class="nav-bar">
							<div class="btn-navbar">
								<button class="close-navbar" type=button>&times;</button>
								<ul> {% if  not about_activated %}
									<li><a href="{{url_for('homePage')}}">DMdb Api</a></li>
									{% if homePage %}
										<li><a href="javascript:moveTag('#parameters-section')">Parameters</a></li>
										<li><a href="javascript:moveTag('#request-section')">Request Format</a></li>
										<li><a href="javascript:moveTag('#Example-section')">Examples</a></li>
									{% endif %}
									{% if current_user.is_authenticated %}

										<li><a href="{{url_for('account')}}">Account</a></li>
										<li><a href="{{url_for('userApiUsage')}}" >API Usage</a></li>
										<li><a href="{{url_for('logout')}}" >Logout</a></li>
									{% else %}
										<li><a href="{{url_for('generateApiKeyPage')}}" >Generate Api Key</a></li>
										<li><a href="{{url_for('login')}}" >Login</a></li>
									{% endif %}					
									{% else %}
										<li><a href="{{url_for('homePage')}}">DMdb Api</a></li>
									{% endif %}
								</ul>
							</div>
						</nav>
					</div>
					<div class="content">
						{%if homePage %}
							<div class="api-info">
								<h2> Disney Movie API</h2>
								<h4>Open Source Disney Movie Database</h4>
								<p>The Disney Movie API is a RESTful web service to obtain movie information, all content  on the site are contributed and maintained by owner.</p>
							</div>
						{%endif%}
						<div >
							{% with messages=get_flashed_messages(with_categories=true) %}
								{% if messages %}
									{% for category,message in messages %}
										<div class="flash-msg-{{category}}" >
											{{ message}}
										</div>
									{%  endfor %}
								{% endif %}
							{% endwith %}
						</div>
						<div  class="block-content">
					 		{% block content %}{% endblock content %}
					 	</div>
					 	{%if homePage %}
						 	<div class="back-to-top">
						 		<button type=button onclick="backToTop()">Back To Top</button>
						 	</div>
					 	{% endif %}
					</div>
				</div>
				
		</div>
	</main>
	<script>
		const openNavBarBtn=document.querySelector(".open-navbar");
		const closeNavBarBtn=document.querySelector(".close-navbar");
		const navBar=document.querySelector(".nav-bar");
		const header=document.querySelector(".header");
		const root=document.querySelector(":root");
		const transTime=getComputedStyle(root).getPropertyValue("--default-trans-time");
		const interval=10;
		openNavBarBtn.addEventListener("click",openNavBar);
		closeNavBarBtn.addEventListener("click",closeNavBar);
		let timerVar;
		function openNavBar(){
			navBar.style.transform="translateX(0%)";
			navBar.style.opacity=1;

		}

		function closeNavBar(){
			navBar.style.transform="translateX(-100%)";
			navBar.style.opacity=0;

		}
		function moveTag(tagName){
			const tag=document.querySelector(tagName);
			finalYPos=tag.offsetTop;
			let initYPos=document.body.scrollTop || document.documentElement.scrollTop;
			var delta=finalYPos-initYPos;
			let step;
			if (Math.abs(delta)<transTime) step=Math.ceil((delta/(2*transTime))*interval);
			else step=Math.ceil((delta/transTime)*interval);
			timerVar=setInterval(function(){scrollWindow(0,finalYPos,step)},interval);
			toggleNavBar();
		}
		function toggleNavBar(){
			let  w = window.innerWidth|| document.documentElement.clientWidth || document.body.clientWidth;
			let h  =window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
			console.log(w,h)
			if(w>720){
				openNavBar()
			}
			else{
				if(h>w) closeNavBar()
			}
		}
		window.addEventListener('resize',toggleNavBar);
	
		function scrollWindow(finalXPos,finalYPos,step){
			let curntYPos=document.body.scrollTop ||document.documentElement.scrollTop+step;
			if(step<0){
				if(curntYPos<finalYPos) {
					clearInterval(timerVar);
					return;
				}
			}
			else{
				if(curntYPos>finalYPos) {
					clearInterval(timerVar);
					return;
				}
			}
			document.body.scrollTop=curntYPos;
			document.documentElement.scrollTop=curntYPos;
		}
		function backToTop(){
			var finalYPos=0;
			var finalXPos=0;
			var initYPos=document.body.scrollTop || document.documentElement.scrollTop;
			var delta=finalYPos-initYPos;
			var step=parseInt((delta/transTime)*interval);
			timerVar=setInterval(function(){scrollWindow(finalXPos,finalYPos,step)},interval)
		}
	
	</script>
</body>
</html>