{% extends "layout.html" %}
{% block content %}
	<div class="login-form-parent">
		<div class="login-form">
			<form action="" method="POST">
				{{ form.hidden_tag() }}
				<fieldset>
					<div>
						<legend>Log in</legend>
					</div>
					
					<div class="content-margin">
						{{form.user_email.label(class="email")}}
						{{ form.user_email(placeholder='Email', autocomplete='off') }}
						{% if form.user_email.errors%}
						<span >
							{% for error in form.user_email.errors %}
							 <span class="server-msg">{{ error}}</span>
							{% endfor  %}
						</span>
						{% endif %}
					</div>
					<div class="content-margin">
						{{ form.password.label}}
						{{ form.password}}
						{% if form.password.erros %}
							<span >
								{% for error in form.password.errors %}
								 <span class="server-msg">{{ error}}</span>
								{% endfor  %}
							</span>
						{% endif %}
					</div>

					<div class=isverified>
						{% if verified_field_req %}
							{{ form.onetime_verification_code.label}}
							{{ form.onetime_verification_code(placeholder="Enter your code here.",autocomplete='off')}}
							<form>
								<button type=submit formaction="{{url_for('login')}}" formmethod='POST'  name="submit" value='Resend' >Resend</button>
							</form>
						{% endif %}
					</div>
					<div class="login-forget-btn">
					{{form.submit}}
					<span><a href="{{url_for('resetPassword')}}">Forget Password</a><span>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	<script>
	const login_form=document.querySelector(".login-form");
	var max_form_width=getComputedStyle(root).getPropertyValue("--max-form-width");
	function resizeLoginForm(){
		if((login_form.clientWidth || login_form.offsetWidth)>=max_form_width) {
			login_form.style.maxWidth=max_form_width+"px";
		}
		
	}
	window.addEventListener("resize",resizeLoginForm);
	window.addEventListener("load",resizeLoginForm);
</script>{% endblock content %}